@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');

/* General Styles */


/* Farbe: #323A45 / #848484 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    color: #323A45;
}

body {
    max-width: 1440px;
    padding: 2.5% 5%;
}
a {
    color: black;
}

img {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.fade {
    color: #323A45;
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
.menu {
    display: none;
}
nav ul {
    display: flex;
}



nav li {
    margin-left: 80px;
}
.name {
    font-weight: bold;
}
/* Main */
main {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.brand {
    color: #848484 ;
    margin-top: 10px;
}

.full {
    grid-column: 1/4;
}

.full , .oneThird {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Footer */
footer {
    font-size: 12px;
}
.fgrid {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0;
}
.fhead {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
}
.fgrid article {
    margin-right: 10%;
}
.end {
    font-size: 13px;
    font-style: italic;
}

.close {
    width: 30px;
    color: white;
}

.navli{
    opacity: 0;
    transform: translateY(-100%);
}

/* Media */
/* .navli {
    visibility: hidden;} */

@media screen and (min-width: 801px) {
    .navli {
        display: none;
    }
    }
     
@media screen and (max-width: 800px) {
   .oneThird {
       grid-column: 1/4;
   }
   .fgrid article {
    width: 100%;

   }

    nav ul {
       display: none;
   }

   .navli {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       flex-wrap: wrap;
       background-color: #848484 ;
       position: absolute;
       top: 0vh;
       bottom: 70vh;
       right: 0;
       width: 100%;
       transition: 1s ease;
   }
   .navli a {
    color: white;
    font-size: 30px;
   }
   .menu {
       display: unset;
   }

   .name {
       position: absolute;
       text-align: left;
       top: 3%;
   }
   .menu  {
       position: absolute;
       right: 5%;
       top: 3%;
   }
}

